@model IEnumerable<Student_servis.Models.Ispit>

@{
    ViewBag.Title = "Ispiti";
}

<h2>Ispiti | StudentServis</h2>

<p>
    <button class="btn btn-primary">@Html.ActionLink("Novi ispit", "Create")</button>
</p>
<table class="table" style="color:white" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                Funkc...
            </th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr style="background-color:black">
                <td>
                    <img src="~/Images/listIspita.ico" width="32px" height="32px" />  @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    <button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.idIspit })</button> |
                    <button class="btn btn-success">@Html.ActionLink("Details", "Details", new { id = item.idIspit })</button> |
                    <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.idIspit })</button>
                </td>
            </tr>
        }

</table>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#tabela').DataTable().push();
            $('#tabela.red').css("background-color","black");

        })
    </script>
}
<a href='@Url.Action("Index", "Student")'>
    <img src='@Url.Content("~/Images/list.ico")' width="45px" height="45px" />
</a><b><i> Lista Studenata</i></b>&nbsp;&nbsp;&nbsp;
<a href='@Url.Action("Create", "StudentIspit")'>
    <img src='@Url.Content("~/Images/create.ico")' width="42px" height="42px" />
</a><b><i> Kreiranje ispita za studente</i></b>
