<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Broj indeksa</th>
            <th scope="col">Naziv ispita</th>
            <th scope="col">Ocena</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.podaci != null)
        {
            foreach (var item in ViewBag.podaci)
            {
                <tr>
                    <td>@item.Student.Broj_index</td>
                    <td>@item.Ispit.Naziv</td>
                    <td>@item.Ocena</td>
                    <td>
                        @if (@item.Ocena > 5)
                        {
                            <img src="~/Images/checkYes.ico" width="32px" height="32px" />
                        }
                        @if (@item.Ocena == 5)
                        {

                            <img src="~/Images/checkNo.ico" width="37px" height="37px" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
